/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;
    margin: 50px 140px;
}

/* Heder banner section  */
.header-banner-container {
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.header-banner-content {
    width: 531px;
    height: 424px;
    color: white;
}

.header-banner-content h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;

}

.header-banner-image img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
}

.header-banner-content button {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
}

.fa-angle-right {
    padding: 10px;
}

/* Blogs are here  */
.blog-container {
    display: grid;
    grid-template-columns: 312px 1fr;
    column-gap: 24px;
}

.navigation {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}

.navigation a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
}

.blog-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.blogs {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-description {
    padding: 20px;
}

.time-comments {
    display: flex;
    justify-content: flex-start;
}

.time-comments p {
    padding-right: 30px;
}

.fa-clock,
.fa-comment-dots {
    padding-right: 10px;
}

/* Footer here */
footer {
    background-color: #161616;
    text-align: center;

}

.footer nav {
    text-decoration: none;
    color: white;
}